# Logs and system files
*.log
.DS_Store
Thumbs.db
npm-debug.log
yarn-error.log

# Environment files
.env
.env.backup
.env.production

# Laravel specific
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor/
node_modules/
auth.json
Homestead.json
Homestead.yaml
/.vagrant
.phpunit.result.cache
.phpactor.json

# IDE and editor configs
/.fleet
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed

# Laravel 4 specific
bootstrap/compiled.php
app/storage/

# Laravel 5 & Lumen specific with changed public path
public_html/storage
public_html/hot